/*顶部开始*/
#header{
    width: 100%;
    height: 2rem;
    background-color: #f7ac29;
    padding-top:0.64rem ;
    position: relative;
}
.headerH{
    height: 0.39rem;
    text-align: center;
    position: relative;
}
.leftImg{
    width: 0.35rem;
    height: 0.35rem;
    position: absolute;
    top: 0.1rem;
    left: 0;
}
.leftImg>img{
    width: 100%;
    height: 100%;
}
.headerH>h4{
    font-size: 0.38rem;
    color: #ffffff;
    font-weight: 500;
}
.rightImg{
    width: 0.35rem;
    height: 0.35rem;
    position: absolute;
    top: 0.1rem;
    right: 0;
}
.rightImg>img{
    width: 100%;
    height: 100%;
}
/*顶部结束*/
/*个人资料开始*/
.information{
    height: 1.65rem;
    background-color: #fdfdfd;
    box-shadow: 0rem 0.05rem 0.15rem 0rem
    rgba(0, 0, 0, 0.28);
    position: absolute;
    top: 1.39rem;
    left:0.24rem;
    padding: 0.24rem;
    display: flex;
    justify-content: space-between;
    z-index: 1;
}
.information-img{
    width: 1.17rem;
    height: 1.17rem;
}
.information-img>img{
    width: 100%;
    height: 100%;
}
.information-text{
    width: 5.2rem;
    height: 100%;
    color: rgba(0,0,0,0.6);
}
.information-p{
    width: 3.66rem;
    height: 0.22rem;
    display: flex;
    justify-content: space-between;

}
.information-p>h4{
    font-size: 0.22rem;
    font-weight: 400;
}
.information-p>p{
    width: 1.23rem;
    height: 100%;
    font-size: 0.18rem;
    display: flex;
    justify-content: space-between;
}
.information-p>p>span>img{
    width: 0.22rem;
    height: 0.22rem;
}
.information-t{
    margin-top: 0.14rem;
    font-size: 0.22rem;
}
.information-o{
    width: 1.66rem;
    height: 0.23rem;
    margin-top: 0.14rem;
    font-size: 0.22rem;
    display: flex;
    justify-content: space-between;
}
.information-o>span>img{
    width: 0.13rem;
    height: 0.23rem;
}
/*个人资料结束*/
/*钱包部分开始*/
.purse{
    width: 100%;
    height: 2.45rem;
    position: relative;
}
.red-purse{
    width:6rem;
    height:0.55rem;
    position: absolute;
    top: 1.64rem;
    left:0.75rem;
}
.red-purse-cart{
    width:2rem;
    height: 100%;
    text-align: center;
    font-size: 0.24rem;
    color: rgba(0,0,0,0.6);
    float: left;
    position: relative;
}
.red-purse-line{
    width: 0.02rem;
    height: 0.36rem;
    background: rgba(0,0,0,0.6);
    position: absolute;
    right: 0;
    top:0.095rem;
}
.red-purse-cart>h4{
    color: #f7ac29;
}
/*钱包部分结束*/
/*列表部分开始*/
.list{
    width: 100%;
    height: 7.91rem;
    background:rgba(147,146,146,0.2);
    padding: 0.24rem;
}
.item{
    width: 100%;
    height: 0.88rem;
    background-color: #ffffff;
    border-radius: 0.1rem;
    padding:0.14rem 0.24rem;
    position: relative;
    margin-bottom: 0.24rem;
}
.item-img{
    width: 0.6rem;
    height: 0.6rem;

}
.item-img>img{
    width: 100%;
    height:100%;
}
.item>p{
    font-size: 0.24rem;
    color: rgba(0,0,0,0.6);
    position: absolute;
    left:0.93rem;
    top:0.32rem;
}
.count{
    width: 0.76rem;
    height: 0.34rem;
    background-color: #f72938;
    border-radius:0.6rem;
    font-size: 0.24rem;
    color: #ffffff;
    text-align: center;
    position: absolute;
    right: 0.37rem;
    top: 0.28rem;
}
.count-right{
    font-size: 0.18rem;
    font-family: "iconfont";
}
/*列表部分结束*/