.met-message-body{
    height: 819px;
}
.met-message-list{
    width: 780px;
    height:759px;
    background: #ffffff;
}
.met-message-item{
    height: 79px;
    padding: 10px 0;
    border-bottom: 1px solid #f0f2f5;
    box-sizing: border-box;
}
.met-message-item-i{
    float: left;
}
.met-message-item-i>i{
    font-size: 36px;
    color: #a3afb7;
}
.met-message-item-text{
    width: 672px;
    height: 53px;
    float: right;
    position: relative;
}
.met-message-item-text>h4{
    font-size: 14px;
    margin-bottom: 5px;
    font-weight: 400;
    line-height: 1.2;
    color: #37474f;
}
.met-message-item-p{
    font-size: 14px;
    color: #76838f;
    margin-bottom: 11px;
    box-sizing: border-box;
}
.met-news-item-right{
    position: absolute;
    right: 0;
    top: 0;
    font-weight: 300;
    font-size: 75%;
    line-height: 1;
    color: #a3afb7;

}
.met-message-item-s1{
    height: 142px;
}
.met-message-item-content{
    width: 672px;
    height: 63px;
    padding: 20px;
    background-color: #f3f7f9;
    box-sizing: border-box;
    border: 1px solid #e4eaec;
    border-radius: 3px;
    font-size: 14px;
    color: #2a333c;
}
.met-message-item-s2{
    height: 163px;
}
.met-message-item-content1{
    height: 84px;
}
.met-message-aside{
    width: 360px;
    height: 464px;
    padding: 30px;
}
.met-message-name{
    width: 300px;
    height: 36px;
    border: 1px solid #e4eaec;
    border-radius: 3px;
    padding: 6px 15px;
    font-size: 14px;
    color: #76838f;
    box-sizing: border-box;
    margin-bottom: 20px;
    position: relative;
}
.met-message-name>input{
    width: 100%;
}
.met-message-suggest{
    height: 124px;
}
.met-message-img{
    position: absolute;
    top: 0;
    right: 0;
    width: 111px;
    height:100%;
    padding: 6px 15px;
    box-sizing: border-box;
    background-color: #f3f7f9;
    border-left: 1px solid #e4eaec;
}
.met-message-btn{
    background-color: #62a8ea;
    border-color: #62a8ea;
    cursor: pointer;
    text-align: center;
}
.met-btn{
    color: #fff;
    background-color: #62a8ea;
    border:none;
}