/*素馨顶部导航开始*/
.suxin-header{
    width: 100%;
    height: 79px;
    background:rgba(0, 0, 0, 0.15);
    line-height: 79px;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 2;
}
.container{
    width: 1170px;
    height: 100%;
    margin: 0 auto;
}
.header-img{
    width: 150px;
    height: 79px;
    float: left;
    padding-top: 14.5px;
    box-sizing: border-box;
}
.header-img img{
    width: 100%;
    height: 50px;
}
.header-content{
    width: 602px;
    height: 100%;
    float: right;
}
.header-nav{
    width: 86px;
    height: 100%;
    font-size: 14px;
    text-align: center;
    float: left;
}
.header-nav-f{
    width: 86px;
    height: 100%;
    font-size: 14px;
    text-align: center;
    float: left;
}
.header-nav-f a{
    color: #16b0dc;
}
.header-nav a{
    color: #ffffff;
}
.header-nav a:hover{
    color: #16b0dc;
}
.suxin-hea-img{
    width: 100%;
    height: 760px;
    position: relative;
}
.suxin-hea-img img{
    width: 100%;
    height: 100%;
}
.btn-left{
    width: 41px;
    height: 70px;
    /*background: #000000;*/
    position: absolute;
    left:89.5px;
    top:345px;
    /*背景图片*/
    background-image: url("../img/suxin/icon-slides.png");
    background-position: 83px 0;
}
.btn-right{
    width: 41px;
    height: 70px;
    /*background: #000000;*/
    position: absolute;
    right:89.5px;
    top:345px;
    background-image: url("../img/suxin/icon-slides.png");
    background-position: 42px 0;
}
.dots{
    width: 40px;
    height: 16px;
    position: absolute;
    left:50%;
    bottom: 20px;
}
.dot{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background:rgba(255,255,255,.5);
    float: left;
    margin: 5px;
}
.hover{
    background-color: rgba(0,0,0,.3);
}
/*素馨顶部导航结束*/
/*素馨文字部分开始*/
.nr{
    text-align: center;
    padding: 70px 0px;
    box-sizing: border-box;
}
.nr h3{
    font-size: 36px;
    font-weight: 300;
    margin-bottom: 11px;
}
.nr i{
    font-size: 36px;
    color: #16b0dc;
    padding: 5px 13px;
    box-sizing: border-box;
}
.nr p{
    font-size: 16px;
    font-weight: 300;
    color: #5e7387;
}
/*素馨文字部分结束*/
/*素馨列表部分开始*/
.list{
    width: 1140px;
    height: 476px;
    margin: 50px auto 0;
    padding: 0 60px;
    box-sizing: border-box;
    position: relative;
}
.list-left{
    width: 41px;
    height: 70px;
    /*background: #000000;*/
    position: absolute;
    left:9.5px;
    top:192px;
    /*背景图片*/
    background-image: url("../img/suxin/icon-slides.png");
    background-position: 83px 0;
}
.list-left:hover{
    background-position: 0 0;
}
.list-right{
    width: 41px;
    height: 70px;
    /*background: #000000;*/
    position: absolute;
    right:9.5px;
    top:192px;
    background-image: url("../img/suxin/icon-slides.png");
    background-position: 42px 0;
}
.list-right:hover{
    background-position: -42px 0;/*125 0也可以*/
}

.list-img{
    width:320px ;
    height: 320px;
    border-radius: 50%;
    background: url("../img/suxin/lb1.jpg");

}

.one{
    background: url("../img/suxin/lb2.jpg");
}
.two{
    background: url("../img/suxin/lb3.jpg");

}
.item{
    width: 320px;
    height: 418px;
    float: left;
    margin-right:30px;
}
.ii{
    margin-right:0;
}
.item h4{
    font-size: 18px;
    margin-top: 11px;
    margin-bottom: 11px;
    color: #37474f;
    font-weight: 400;
    line-height: 1.2;
}
.item p{
    font-size: 14px;
    color: #757575;
    text-align: left;
    margin-bottom: 11px;

}
.hondi{
    width: 100%;
    height: 36px;
    padding: 6px 15px;
    box-sizing: border-box;
    font-size: 14px;
    color: #ffffff;
    border-radius: 3px;
    background: #f96868;
}
.hondi i{
    font-size: 14px;
    color: #9c2115;
}
.list2{
    width: 100%;
    height: 709px;
    background:#f5f5f5;
    padding: 70px 0;
    box-sizing: border-box;
}
.list2{
    text-align: center;
}
.list2 h3{
    font-size: 36px;
    font-weight: 300;
    margin-bottom: 11px;
}
.list2 i{
    font-size: 36px;
    color: #16b0dc;
    padding: 5px 13px;
    box-sizing: border-box;
}
.li{
    width: 1170px;
    height: 504px;
    margin:20px auto 0;
}
.item2{
    width: 585px;
    height: 96px;
    margin-top: 30px;
    padding: 0 15px;
    box-sizing: border-box;
    float: left;
}
.item2-img{
    width: 180px;
    height: 96px;
    padding-right: 20px;
    box-sizing: border-box;
    float: left;
}
.item2-img img{
    width: 100%;
    height: 100%;

}
.item2-t{
    text-align: left;
}
.item2-t h4{
    color:#2a333c;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 5px;
}
.item2-t p{
    margin-bottom: 5px;
    color: #76838f;
    font-weight: 300;
    font-size: 14px;
}
.item2-t i{
    font-size: 14px;
    color: #76838f;
    padding: 5px 5px;
}
/*素馨列表部分结束*/
/*素馨底部部分开始*/
.footer{
    width: 100%;
    height: 905px;
    padding-top: 70px;
    box-sizing: border-box;
    text-align: center;
}
.footer h3{
    font-size: 36px;
    font-weight: 300;
    margin-bottom: 11px;
}
.footer-t{
    margin-top: 50px;
    padding: 30px;
    box-sizing: border-box;
    font-weight: 300;
    color: #222222;
    text-align: center;

}
.footer-t p{
    font-size: 16px;
    margin-bottom: 16px;
}
.footer-img{
    width: 530px;
    height: 340px;
    margin: 0 auto;
}
.footer-img img{
    width: 100%;
    height: 100%;
}
.line{
    margin-top: 70px;
    border-top:1px solid #f0f2f5;
    box-sizing: border-box;
    background: #ffffff;
    height: 20px;
}
/*素馨底部部分结束*/